:root {
  --main-background-color: #0d1117;
  --background-color: #242424;
  --light-accent-color: #545454;
  --dark-accent-color: #343434;
  --main-text-color: #fff;

  --primary-font: Montserrat;
  --fallback-font: Arial;
}

body {
  font-family: var(--primary-font), var(--fallback-font);
  background-color: var(--main-background-color);
}

h1 {font-size: 3em}

a {color: var(--main-text-color)}

form {margin: 0;}

select, input[type=text] {
  background-color: var(--background-color);
  color: var(--main-text-color);
  padding: 10px;
  border: 0.5px solid var(--light-accent-color);
  border-radius: 4px;
}

input[type=submit] {
    background-color: var(--light-accent-color);
    color: var(--main-text-color);
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
}

input[type=submit]:hover {
    background-color: var(--dark-accent-color);
}

#inner-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#homepage {
  margin-top: 20vh;
  margin-right: auto;
  margin-left: auto;
  width: fit-content;
  padding:30px;
  border-radius: 25px;
  background-color: var(--background-color);
  color: var(--main-text-color);
  border: 0.5px solid var(--light-accent-color);
}

#return-homepage {
  background-color: var(--background-color);
  color: var(--main-text-color);
  text-decoration: none;
  font-size: 2em;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.2s;
  cursor: pointer;
}

#return-homepage:hover {
    background-color: var(--dark-accent-color);
}

#browse-repos {
  color: var(--main-text-color);
  margin: 30px 10px;
}

